footer.footer
    .footer__top
        .footer__shopping
            h3.footer__title Shopping with us
            ul.footer__list
                li.footer__item
                    a(href="#").footer__link why shop with us?
                li.footer__item
                    a(href="#").footer__link how it works
                li.footer__item
                    a(href="#").footer__link delivery
                li.footer__item
                    a(href="#").footer__link returns
                li.footer__item
                    a(href="#").footer__link where's my order
                li.footer__item
                    a(href="#").footer__link contact & help
                li.footer__item
                    a(href="#").footer__link wedding list
                li.footer__item
                    a(href="#").footer__link wish lists
                li.footer__item
                    a(href="#").footer__link gift vouchers
        .footer__about
            h3.footer__title About us
            ul.footer__list
                li.footer__item
                    a(href="#").footer__link our story
                li.footer__item
                    a(href="#").footer__link customer contact
                li.footer__item
                    a(href="#").footer__link awards
                li.footer__item
                    a(href="#").footer__link press centre
                li.footer__item
                    a(href="#").footer__link work with us
                li.footer__item
                    a(href="#").footer__link terms & conditions
                li.footer__item
                    a(href="#").footer__link privacy & cookies
        .footer__selling
            h3.footer__title Selling with us
            ul.footer__list
                li.footer__item
                    a(href="#").footer__link why join?
                li.footer__item
                    a(href="#").footer__link faqs
                li.footer__item
                    a(href="#").footer__link apply to sell with us
                li.footer__item
                    a(href="#").footer__link affiliates
        .footer__newsletter
            h3.footer__title Signup newsletter
            form.signup
                input(name="email" placeholder="E.G.: ABC@DOMAIN.COM").signup__email
                input(type="submit" value="SUBSCRIBE NOW").signup__submit
            h3.footer__title.footer__title_socials Keep in touch
            ul.socials
                li.socials__item.socials__item_rss
                li.socials__item.socials__item_facebook
                li.socials__item.socials__item_twitter
                li.socials__item.socials__item_flickr
                li.socials__item.socials__item_google
    .footer__middle
        .footer__copyright Copyright &copy; 2014 Gift Shop, All rights reserved
        .footer__name Designed by
            span.footer__name-span  Amysxain
    .footer__bottom
