header.header
    .header__top
        .header__left
            img(src="img/content/giftshop-logo.png" alt="Giftshop logo").header__logo
            h1.header__title Giftshop
        .header__right
            ul.header__links
                li.header__links-item
                    a(href="#").header__links-link Sell
                li.header__links-item
                    a(href="#").header__links-link Registry
                li.header__links-item
                    a(href="#").header__links-link Community
                li.header__links-item
                    a(href="#").header__links-link Blogs
                li.header__links-item
                    a(href="#").header__links-link Mobile
                li.header__links-item
                    a(href="#").header__links-link Gift Cards
            ul.header__tiles
                li.header__tiles-item
                    a(href="#").header__tiles-link.header__tiles-link_register Register
                li.header__tiles-item
                    a(href="#").header__tiles-link.header__tiles-link_signin Sign In
                li.header__tiles-item
                    a(href="#").header__tiles-link.header__tiles-link_whislost Wishlist
                li.header__tiles-item
                    a(href="#").header__tiles-link.header__tiles-link_cart Cart
    .header__bottom
        include ../components/_navbar