.slider
    .slider__left
        .men
            .men__text-block
                .men__title Men's wear
                .men__desc Lorem ipsum is simply dummy text of the printing and typesetting industry.
            .men__red-text-block Lorem ipsum is simply dummy text
    .slider__right
        .women
            .women__text-block
                .women__title Women's wear
                .women__desc Lorem ipsum is simply dummy text of the printing and typesetting.
        .kids
            .kids__text-block
                .kids__title Kids' wear
                .kids__desc Lorem ipsum is simply dummy text of the printing and typesetting.