section.featured-products.products
    .products__header
        h3.products__title.products__title_featured-products Featured Products
        .products__slide-buttons
            .products__slide-buttons-left.products__slide-buttons-left_red
            .products__slide-buttons-right
    .featured-products__main
        ul.featured-products__list
            li.featured-products__item
                .featured-products__image.featured-products__image_1
                .featured-products__text
                    h4.featured-products__title Product Title here
                    .featured-products__desc Short Description here
                .featured-products__signs
                    .featured-products__arrows
                    .featured-products__gift
                    .featured-products__cart
                    .featured-products__price.buy__price
                        span.buy__price-dollar $
                        span.buy__price-main 99.
                        sup.buy__price-cents 00
            li.featured-products__item
                .featured-products__image.featured-products__image_2
                .featured-products__text
                    h4.featured-products__title Product Title here
                    .featured-products__desc Short Description here
                .featured-products__signs
                    .featured-products__arrows
                    .featured-products__gift
                    .featured-products__cart
                    .featured-products__price.buy__price
                        span.buy__price-dollar $
                        span.buy__price-main 99.
                        sup.buy__price-cents 00
            li.featured-products__item
                .featured-products__image.featured-products__image_3
                .featured-products__text
                    h4.featured-products__title Product Title here
                    .featured-products__desc.featured-products__desc_new Short Description here
                .featured-products__signs
                    .featured-products__arrows
                    .featured-products__gift
                    .featured-products__cart
                    .featured-products__price.featured-products__price_new.buy__price
                        span.buy__price-dollar $
                        span.buy__price-main 99.
                        sup.buy__price-cents 00
            li.featured-products__item
                .featured-products__image.featured-products__image_4
                .featured-products__text
                    h4.featured-products__title Product Title here
                    .featured-products__desc Short Description here
                .featured-products__signs
                    .featured-products__arrows
                    .featured-products__gift
                    .featured-products__cart
                    .featured-products__price.buy__price
                        span.buy__price-dollar $
                        span.buy__price-main 99.
                        sup.buy__price-cents 00