section.intro
    .intro__top
        include ../parts/_slider
    .intro__bottom
        .intro__left
            form.search
                input.search__input(name="search" placeholder="Search your product here ( e.g.: Silver diamond ring )")
                button.search__submit(type="submit" value="")
            .crafts
                .buy.buy_crafts
                    h4.buy__title Crafts
                    .buy__gift
                        .buy__gift-sign
                        .buy__gift-hint
                            .buy__gift-hint-text add to wishlist
                    .buy__cart
                        .buy__cart-sign
                        .buy__cart-hint
                            .buy__cart-hint-text add to cart
                    .buy__price.buy__price_crafts
                        span.buy__price-dollar $
                        span.buy__price-main 99.
                        sup.buy__price-cents 00
        .intro__right
            .jewelry
                .jewelry__text-block
                    h4.jewelry__title Jewelry
                    .jewelry__tape
                        .jewelry__tape-circle