section.new-products.products
    .products__header
        h3.products__title.products__title_new-products New Products
        .products__slide-buttons
            .products__slide-buttons-left.products__slide-buttons-left_blue
            .products__slide-buttons-right
    .new-products__main
        ul.new-products__list
            li.new-products__item.new-products__item_1
                .buy
                    h4.buy__shop Handbag
                    .buy__gift
                        .buy__gift-sign
                        .buy__gift-hint
                            .buy__gift-hint-text add to wishlist
                    .buy__cart
                        .buy__cart-sign
                        .buy__cart-hint
                            .buy__cart-hint-text add to cart
                    .buy__price
                        span.buy__price-dollar $
                        span.buy__price-main 299.
                        sup.buy__price-cents 00
            li.new-products__item.new-products__item_2
                .buy
                    h4.buy__shop Collar
                    .buy__gift
                        .buy__gift-sign
                        .buy__gift-hint
                            .buy__gift-hint-text add to wishlist
                    .buy__cart
                        .buy__cart-sign
                        .buy__cart-hint
                            .buy__cart-hint-text add to cart
                    .buy__price
                        span.buy__price-dollar $
                        span.buy__price-main 499.
                        sup.buy__price-cents 00
            li.new-products__item.new-products__item_3
                .buy
                    h4.buy__shop Wristwatch
                    .buy__gift
                        .buy__gift-sign
                        .buy__gift-hint
                            .buy__gift-hint-text add to wishlist
                    .buy__cart
                        .buy__cart-sign
                        .buy__cart-hint
                            .buy__cart-hint-text add to cart
                    .buy__price
                        span.buy__price-dollar $
                        span.buy__price-main 399.
                        sup.buy__price-cents 00