section.whoweare
    .whoweare__header
        h3.products__title.whoweare__title Who We Are
    .whoweare__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        | when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        | It has survived not only five centuries, but also the leap into electronic typesetting,
        | remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
        | sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
        | Aldus PageMaker including versions of Lorem Ipsum.
    ul.whoweare__list
        li.whoweare__item.whoweare__item_choose
            .whoweare__image.whoweare__image_choose
            .whoweare__item-title Chose Products
        li.whoweare__item.whoweare__item_register
            .whoweare__image.whoweare__image_register
            .whoweare__item-title Register/ Login
        li.whoweare__item.whoweare__item_checkout
            .whoweare__image.whoweare__image_checkout
            .whoweare__item-title Checkout
    .whoweare__link Register Now