.dropdown
    ul.dropdown__list
        li.dropdown__item
            table.dropdown__table
                tr.dropdown__row
                    td.dropdown__photo
                        img.dropdown__photo-image(src="img/content/dropdown.jpg" alt="Product")
                    td.dropdown__text
                        .dropdown__text-title Item Name Here
                        .dropdown__text-desc Lorem ipsum is simply dummy text
                        .dropdown__text-more More Detail
            .dropdown__horizontal-line
        li.dropdown__item
            table.dropdown__table
                tr.dropdown__row
                    td.dropdown__photo
                        img.dropdown__photo-image(src="img/content/dropdown.jpg" alt="Product")
                    td.dropdown__text
                        .dropdown__text-title Item Name Here
                        .dropdown__text-desc Lorem ipsum is simply dummy text
                        .dropdown__text-more More Detail
            .dropdown__horizontal-line
        li.dropdown__item
            table.dropdown__table
                tr.dropdown__row
                    td.dropdown__photo
                        img.dropdown__photo-image(src="img/content/dropdown.jpg" alt="Product")
                    td.dropdown__text
                        .dropdown__text-title Item Name Here
                        .dropdown__text-desc Lorem ipsum is simply dummy text
                        .dropdown__text-more More Detail
            .dropdown__horizontal-line
        li.dropdown__see-all See All Items