nav.nav
    ul.nav__list
        li.nav__item Art
            include ../components/_dropdown
        li.nav__item Home & Living
            include ../components/_dropdown
        li.nav__item Jewelry
            include ../components/_dropdown
        li.nav__item Women
            include ../components/_dropdown
        li.nav__item Men
            include ../components/_dropdown
        li.nav__item Kids
            include ../components/_dropdown
        li.nav__item Vintage
            include ../components/_dropdown
        li.nav__item Weddings
            include ../components/_dropdown
        li.nav__item More
            include ../components/_dropdown