nav.nav
    ul.nav__list
        li.nav__item Art
        li.nav__item Home & Living
        li.nav__item Jewelry
        li.nav__item Women
        li.nav__item Men
        li.nav__item Kids
        li.nav__item Vintage
        li.nav__item Weddings
        li.nav__item More