.slider {
  display: flex;
  height: 570px;

  &__left {
    margin-right: 5px;
  }

  &__right {
    display: flex;
    flex-direction: column;
  }
}

.men {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 670px;
  height: 570px;
  background: url("../img/bg/men.jpg") center center / cover no-repeat;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
  }

  &:hover {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    &:after {
      opacity: 0.588;
    }

    .men__text-block, .men__red-text-block {
      display: none;
    }

    .buy {
      display: flex;
    }
  }

  &__text-block {
    width: 348px;
    height: 105px;
    margin-bottom: 2px;
    padding: 10px 0 0 22px;
    background: #564962;
    opacity: 0.8;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: -10px;
    font-size: 58px;
    line-height: 1;
    font-family: Aparajita;
    font-weight: 700;
    color: #ef5966;
  }

  &__desc {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: #fff;
  }

  &__red-text-block {
    width: 348px;
    height: 41px;
    margin-bottom: 12px;
    padding: 10px 0 0 15px;
    font-size: 20px;
    font-family: Aparajita;
    font-weight: 700;
    color: #fff;
    background: #dd5564;
    opacity: 0.878;
    text-transform: uppercase;
  }
}


.women, .kids {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 494px;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
  }

  &:hover {
    justify-content: flex-end;

    &:after {
      opacity: 0.588;
    }

    .women__text-block, .kids__text-block {
      display: none;
    }

    .buy {
      display: flex;
    }
  }

  &__text-block {
    width: 267px;
    height: 83px;
    margin-bottom: 8px;
    padding: 12px 17px 0 14px;
    background: #564962;
    opacity: 0.8;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: -5px;
    font-size: 35px;
    line-height: 1;
    font-family: Aparajita;
    font-weight: 700;
    color: #ef5966;
  }

  &__desc {
    font-size: 12px;
    color: #fff
  }
}

.women {
  height: 320px;
  margin-bottom: 5px;
  background: url("../img/bg/women.jpg") center center / cover no-repeat;
}

.kids {
  height: 245px;
  background: url("../img/bg/kids.jpg") center center / cover no-repeat;
}

.buy {
  display: none;
  height: 55px;
  margin-bottom: 28px;
  z-index: 10;

  &__shop {
    height: 100%;
    padding: 17px 6px 0 12px;
    color: #fff;
    letter-spacing: 1px;
    background: #05aecc;

    &:hover {
      background: darken(#05aecc, 10%);
    }
  }

  &__gift, &__cart {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      background: url("../img/icons/common.png") no-repeat;
    }
  }

  &__gift {
    width: 51px;
    height: 100%;
    background: #00a1be;

    &:after {
      top: 14px;
      left: 15px;
      width: 23px;
      height: 25px;
      background-position: -204px -20px;
    }

    &:hover {
      background: darken(#00a1be, 10%);
    }
  }

  &__cart {
    width: 53px;
    height: 100%;
    background: #f0626e;

    &:after {
      top: 16px;
      left: 13px;
      width: 28px;
      height: 24px;
      background-position: -79px -20px;
    }

    &:hover {
      background: darken(#f0626e, 10%);
    }
  }

  &__price {
    padding: 14px 8px 0 15px;
    color: #fff;
    background: #323232;

    &-dollar {
      font-size: 16px;
    }

    &-main {
      font-size: 24px;
    }

    &-cents {
      font-size: 16px;
    }

    &:hover {
      background: darken(#323232, 10%);
    }
  }
}